﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}
@model IEnumerable<MG_Model.EF.Customer>
<div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Quản lý Danh Sách Khách Hàng</h1>
                    </div>
                </div>
<button type="button" onclick="/" class="btn btn-primary"> <i class="ace-icon fa fa-search-plus bigger-130"></i>Thêm Danh tính Khách</button>
<div class="alert alert-info">
                            Trang Admin!!
                          <br />
                            Website of MG_Company
                        </div>
                <div class="panel panel-default">
                        <div class="panel-heading">
                           <h5>Thông tin danh mục Khách hàng</h5>
                        </div>
                        <div class="panel-body">
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th>#</th>
														<th>Tên Khách</th>
                                                        <th>Tuổi</th>
                                                        <th>Giới tính</th>
                                                        <th>Địa chỉ</th>
                                                        <th>SDT</th>
                                                        <th>Email</th>
                                                        <th>Description</th>
                                                        <th>Fax</th>
														<th class="hidden-480">Ording....</th>
														<th></th>
													</tr>
												</thead>

												<tbody>
                                                    @foreach (var i in Model)
                                                    { 
                                                        <tr>
														    <td class="center">
															    <label class="pos-rel">
																    <input type="checkbox" class="ace" />
																    <span class="lbl"></span>
															    </label>
														    </td>
                                                             <td>
															    <p class="text-center">@i.id</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.nameCustomer</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.age</p>
														    </td>
                                                            <td>
															    <p class="text-center">@(i.sex!=null&&i.sex==true?"Nam":"Nữ")</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.adress</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.phoneNumber</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.Email</p>
														    </td>
                                                            <td>
															    <textarea>@i.Description</textarea>
														    </td>
                                                            <td>
															    <p class="text-center">@i.Fax</p>
														    </td>
                                                            <td>
															    <p class="text-center" id="colorX">@(i.Ording==true?"Pending":"Saved")</p>
                                                                <script>
                                                                    if ($("#colorX").val() == "Pending")
                                                                        $("#colorX").html('<span class="label label-success arrowed">Pending</span>');
                                                                </script>
														    </td>
                                                            
                                                      <td>
															<div class="hidden-sm hidden-xs action-buttons">
																<a class="green" href="#">
																	<i class="ace-icon fa fa-pencil bigger-130"></i>
																</a>

																<a class="red" href="#">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
															</div>
														</td>
													</tr>
                                                    }
												</tbody>
											</table>
                            </div>
                    </div>
    </div>

